.wrapper {
    display: flex;
    /* flex-direction: column; */
    /* main axis -> justify-content */
    justify-content: space-around;
    /* cross axis -> align-items */
    align-items:flex-start;
    height:100vh;
    /*flex-wrap: wrap -> width,height 유지 , nowrap -> 한 줄에 넣기(default)*/
    flex-wrap: nowrap;
    /* align-content -> 라인 간격 수정 */
    align-content:center;
    font-size:50px;
}

.box {
    display: flex;
    /*flex-basis:...px -> element 처음 크기 지정, main axis 기준 */
    flex-basis:200px;
    /*width : 200px;*/
    height: 150px;
    background: peru;
    color: white;
    justify-content: center;
    align-items: center;

}

.box:nth-child(2) {
  /*align-self: center; 이건 자식만 사용*/
  background:black;
  /* flex-shirink -> 화면 크기가 줄어들 때 얼마나 크기를 줄일 지
                  -> 디폴트 : 1 (2면 다른 것보다 두 배 줄어듬) */
  /*flex-shrink: 3;*/
  /* flex-grow : 0 (디폴트) 빈 공간을 어떻게 채울 것인지 */
  flex-grow:2;
}

.box:nth-child(3) {
  /*align-self: center;*/
  /*flex-shirink -> 화면 크기가 줄어들 때 얼마나 크기를 줄일 지
                  -> 디폴트 : 1 (2면 다른 것보다 두 배 줄어듬)*/
  /*flex-shrink: 2;*/
  flex-grow:1;
}



/**/

/*

.box {
    background: blue;
    width: 100px;
    height: 100px;
    display: inline-block;
    color: white;
  }
  
  .box:nth-child(2) {
    margin-left: 35px;
  }
  
  .box:nth-child(3) {
    margin-left: 20px;
  }

*/